@{
    ViewBag.Title = "Contactus";
    Layout = "~/Views/Admin/Main_page.cshtml";
}

    <div style="  width:1024px; height:300px ;margin-left:163px; background-color: #efefef" >


 <div class="headind"  style="font-size:170%">
        Contact Us</div>
    
      




            	



        
        <br />
        
        
        <div style="  width:24px; height:24px ;margin-left:50px; background-image:url(../../Content/Images/loc.png)"; >

   
    
                		<div style="width:180px; height:250px;  margin-left:40px"><p>1234 sunder nagar, Delhi
                            
                            India
                            </p>
                            
                            
        </div>
                     </div><br />
        
    <div style="  width:24px; height:24px ;margin-left:50px; background-image:url(../../Content/Images/tel.png)"; >

   
    
                		<div style="width:100px; height:400px;  margin-left:40px">
                        <p>9899262789   </p><br />
                            


                            
                            </div>
                            
                         
                              
    </div>

                       
<div style="  width:24px; height:24px ;margin-left:50px;background-image:url(../../Content/Images/mail.png)"; >

   
    
                		<div style="width:100px; height:40px;  margin-left:50px">
                         <p>info@medicalsolutions.com</p><br />
                            </div>
                            
                         
                              
    </div>
        </div>

                	
    