@{
    ViewBag.Title = "Customershowinvoice";
    Layout = "~/Views/Admin/_LayoutPageCustomer.cshtml";
}
<script src="../../Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        GetInvoice();
           $("#InvoiceP1").hide();

    });

    function GetInvoice() {

        $.ajax({
            type: "Post",
            data: {},
            url: "/Admin/GetInvoiceDetails",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (response) {

                GridData(response);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error");
            }
        });

    }
    var Html = "";
    function GridData(response) {

        if (response.length == 0) {
            Html += "<div > No Records To Display"
            Html += "</div>";
        }
        else {
            debugger;
            for (var i = 0; i < response.length; i++) {
                if ('/Date(-62135596800000)/' != response[i].invoice_date) {
                    var DateOffset = new Date(parseInt(response[i].invoice_date.replace(/\/+Date\(([\d+-]+)\)\/+/, '$1')));
                    var NewDateoffset = new Date(DateOffset);
                    expDate = NewDateoffset.getMonth() + 1 + "/" + NewDateoffset.getDate() + "/" + NewDateoffset.getFullYear();

                }
                Html += "<div class='InnerGridText123'>" + expDate + "</div>";
                Html += "<div class='InnerGridText123' >" + response[i].billamount + "</div>";
                Html += "<div class='InnerGridText123 '>";

                Html += "<a onclick=\" Invoice_Print('" + response[i].invoice_id + "')\">";

                //Html += "<a href='/admin/Medicine/Medicine_Id=?" + response[i].medicine_id + "'>";
                Html += "<div class='actionprint'>";
                Html += "    </div></a>";
                Html += "    </div></a>";
                //Html += "<a onclick=\" return deleteMedicine('" + response[i].medicine_id + "')\">";
                //Html += "<div class='actiondel' ></div></a>";
                Html += "</div>";

                //Html += "<div class='InnerGridText123'>" + response[i].sales + "</div>";

                //Html += "<a href='/admin/Medicine/Medicine_Id=?" + response[i].medicine_id + "'>";
                //Html += "<div class='actionedit'>";
                //Html += "    </div></a>";

                //Html += "<a onclick=\" return deleteMedicine('" + response[i].medicine_id + "')\">";
                //Html += "<div class='actiondel' ></div></a>";
                //Html += "</div>";
            }
            //Html += "<div style='width:600px;float:left;height:35px;'></div>";
            //Html += "<div class='InnerGridText123'>Profit-:</div>";
            //Html += "<div class='InnerGridText123'>" + Math.round(totalprofit) + "</div>";
            //Html += "<div class='InnerGridText123'></div>";

        }

        document.getElementById('GridData').innerHTML = Html;
        //$("#tp").html(totalprofit);
    }
    //function Invoice_Print(invoiceid) {
    //        $.post("/Admin/I_P", { vendorid: vendorid },
    //         function (result) {
    //             if (result == true)
    //                 alert("Vendor deleted successfully");
    //             window.location.reload();
    //         });


    //}
    function Invoice_Print(invoiceid) {
        $.ajax({
            type: "Get",
            data: { invoiceid: invoiceid },
            url: "/Admin/Invoice_Print",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                GridData1(response);
                Filldata(response);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error");
            }
        });

    }

    function Filldata(response) {
        $("#txtxdiscount").html(response[0].discount);
        $("#totalamount").html(response[0].amount);
        $("#amountafterDisountFinal1").html(response[0].billamount);
        printReport();
    }

    function GridData1(response) {
        var Html = "";
        var expDate = "";
        if (response.length == 0) {
            Html += "<div > No Records To Display"
            Html += "</div>";
        }
        else {
            for (var i = 0; i < response.length; i++) {
                debugger;
                //totalAmount += response[i].total;
                Html += "<div class='InnerGridText'>" + response[i].Medicine_name + "</div>";
                Html += "<div class='InnerGridText'>" + response[i].Quantity + "</div>";

                var ExpiryDate1 = response[i].expirydate;
                var expDate = "";
                if ('/Date(-62135596800000)/' != ExpiryDate1) {
                    var DateOffset = new Date(parseInt(ExpiryDate1.replace(/\/+Date\(([\d+-]+)\)\/+/, '$1')));
                    var NewDateoffset = new Date(DateOffset);
                    expDate = NewDateoffset.getMonth() + 1 + "/" + NewDateoffset.getDate() + "/" + NewDateoffset.getFullYear();
                }

                Html += "<div class='InnerGridText'>" + expDate + "</div>";
                Html += "<div class='InnerGridText '>" + response[i].particularamount + "</div>";
            }
            Html += "<div class='InnerGridText ' style='border:none;width:221px'></div>";
            Html += "<div class='InnerGridText ' style='border:none;width:221px'></div>";
            Html += "<div class='InnerGridText ' style='border:none;width:221px'></div>";
            Html += "<div class='InnerGridText ' style='border:none;width:221px'></div>";

            Html += "<div class='InnerGridText ' style='border:none; width:221px'></div>";
            Html += "<div class='InnerGridText ' style='border:none;width:221px'></div>";
            Html += "<div class='InnerGridText ' > Total Amount</div>";
            Html += "<div class='InnerGridText ' id='totalamount' style='border-left: 0px;'></div>";

            Html += "<div class='InnerGridText ' style='border:none;width:221px; bo'></div>";
            Html += "<div class='InnerGridText ' style='border:none;width:221px'></div>";
            Html += "<div class='InnerGridText ' id='discounts'>Discount(%)</div>";
            Html += "<div class='InnerGridText ' id='txtxdiscount' style='border-left: 0px;'></div>";;
            Html += "</div>";

            Html += "<div class='InnerGridText ' style='border:none;width:221px'></div>";
            Html += "<div class='InnerGridText ' style='border:none;width:221px'></div>";
            Html += "<div class='InnerGridText '>Bill Amount</div>";
            Html += "<div class='InnerGridText ' id='amountafterDisountFinal1' style='border-left: 0px;'>   </div></div>";;

        }
        document.getElementById('GridData1').innerHTML = Html;
    }




    function printReport() {
        debugger;
        var reportDiv = "";
        reportDiv = document.getElementById("InvoiceP1");
        var html = '<html><head><link rel="stylesheet" type="text/css" href="../../Content/Style.css" /></head><body >' + reportDiv.innerHTML + '</body></html>';
        var printWin = window.open("", "processPrint");
        printWin.document.open();
        printWin.document.write(html);
        printWin.document.close();
        printWin.print();
    }
</script>

<div class="VendorCenter" style="height: 450px;">
    <div class="headind">
        Show Invoice
    </div>
    <div class="ParentGridDiv">
        <div class="Header123">
            Invoice_date
        </div>
        <div class="Header123">
            Amount
        </div>
        <div class="Header123">
            Action
        </div>
        @*<div class="Header">
            Action</div>*@
        <div class="HtmlData" id="GridData">
        </div>
    </div>
    <div id="tp"></div>

    <div class="AddVendor" id="btnSubmit" onclick="SaveMedicinedata()">
        <a href='/admin/vendor' style="text-decoration: none; color: White;">Add Vendor</a>
    </div>
</div>



<div id="InvoiceP1" style="">
    <p style="text-align: center; font-size: 25px;">Medico Solutions</p>
    <div style="float: right; font-family: 'Segoe UI'; padding-right: 10px; margin-top: -40px;">
        JIIT Sec-128 Noida
        <br />
        +9198989889
    </div>
    <div id="Invoice">
        <div class="headind" style="margin-left: 135px;">
            Invoice

        </div>
        <div class="Userinnn" id="username1"></div>
        <div class="Userinnn" id="userPhoneNo1"></div>
        <div style="margin-top: 30px; font-family: Segoe UI; font-size: 14px; margin-left: 15px; padding-bottom: 50px;">
        </div>
        <div class="ParentGridDiv" style="height: 280px;">
            <div class="Header">
                Medicine Name
            </div>
            <div class="Header">
                Quantity
            </div>
            <div class="Header">
                Expiry Date
            </div>
            <div class="Header">
                Amount
            </div>
            <div class="HtmlData" id="GridData1">
            </div>


        </div>
        <br />
        <br />
        Terms & Conditions-:<br />
        1. All disputes are subject to Delhi Jurisdiction.<br />
        2. Goods Once Sold Will Not Be Returned Or Replaced<br />
        3. Loose and cutting medicine are not sold.<br />
        <br />
        <br />
        <br />
        <br />
        For MEDICO SOLUTIONS
        <br />
        <br />
        (PHARMACIST/PROPREITOR)
     
    </div>

</div>


