@{
    ViewBag.Title = "MedicineList";
    Layout = "~/Views/Admin/_LayoutPageAdmin.cshtml";
}
<link href="../../Content/Style.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        GetMedicine();
    });

    function GetMedicine() {

        $.ajax({
            type: "Post",
            data: {},
            url: "/Admin/GetMedicineAdmin",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                GridData(response);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error");
            }
        });

    }


    function getVendor(vendorid){
        $.ajax({
            type: "Post",
            data: { vendorid: vendorid },
            url: "/Admin/GetVendorNameForMedicine",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (response) {

                debugger;
               
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error");
            }
        });

    }

    var Html = "";
    function GridData(response) {
        debugger;
        if (response.length == 0) {
            Html += "<div > No Records To Display"
            Html += "</div>";
        }
        else {
            for (var i = 0; i < response.length; i++) {
                Html += "<div class='InnerGridText'>" + response[i].medicine_name + "</div>";
                Html += "<div class='InnerGridText'>" + response[i].SuppliedBy + "</div>";

                Html += "<div class='InnerGridText'>" +response[i].MedicineType + "</div>";
                Html += "<div class='InnerGridText '>";

                Html += "<a href='/admin/Medicine/Medicine_Id=?" + response[i].medicine_id + "'>";
                Html += "<div class='actionedit'>";
                Html += "    </div></a>";

                Html += "<a onclick=\" return deleteMedicine('" + response[i].medicine_id + "')\">";
                Html += "<div class='actiondel' ></div></a>";
                Html += "</div>";
            }
        }
        document.getElementById('GridData').innerHTML = Html;
    }
    function deleteMedicine(medicineid) {
        if (confirm("Are you sure that you want to delete medicine")) {
            $.post("/Admin/DeleteMedicine", { medicineid: medicineid },
             function (result) {
                 if (result == true)
                     alert("medicine deleted successfully");
                 window.location.reload();
             });
            return false;
        }
    }

</script>
<div class="VendorCenter" style="height: 450px;">
    <div class="headind">
       Medicine Listing</div>
    <div class="ParentGridDiv">
        <div class="Header">
          Medicine Name</div>
        <div class="Header">
          Supplied By  
            </div>
        <div class="Header">
            Medicine Type
            </div>
        <div class="Header">
            Action</div>
        <div class="HtmlData" id="GridData">
        </div>
    </div>

         <div class="AddVendor" id="btnSubmit" onclick="SaveMedicinedata()">
                <a href='/admin/Medicine' style="text-decoration:none; color:White;">    Add Medicine</a></div>
</div>
